@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap');

* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--body-font);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --bright-color: #ccd4dd;
  --black-color:  #141e1d;
  --secondary-color: #446063;

  /* =======FONT SIZE AND TYPOGRAPHY======= */
  --body-font: "Montserrat Alternates", sans-serif;
  --biggest-font-size: 2rem;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}

body {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background: var(--black-color);
  font-family: var(--body-font);
}

.welcome__tab {
  position: fixed;
  top: 50px;               /* Make sure this is here */
  left: 50%;               /* Needed for horizontal centering */
  background: var(--secondary-color);
  color: var(--white-color);
  padding: 12px 24px;
  border-radius: 999px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translate(-50%, -20px);
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}

.welcome__tab.show {
  opacity: 1;
  transform: translate(-50%, 0);  /* Slide back into place */
  pointer-events: auto;
}